.top {
  background-color: orange;
  height: 30vh;
}

/* --------------------page----------------- */

/* --------------------Components----------------- */
.header {
}
.footer {
  background-color: #fbf6f0;
  height: 30px;
}
