.top {
  /* background-color: orange; */
  background-image: url(../images/sauna.png);
  background-size: cover;
  height: 80vh;
}
.container {
  background-color: orange;
  opacity: 0.789;
  height: 80vh;
}
/* --------------------page----------------- */

/* --------------------Components----------------- */
.header {
}
.footer {
  background-color: #fbf6f0;
  height: 30px;
}
